* {
    margin: 0;
    padding: 0;
  }
  body {
    background: linear-gradient(to right bottom, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
  }
  #popup {
    height: 40px;
    width: 250px;
  }
  #popup {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #popup #transform {
    float: left;
    top: 1px;
    right: 5px;
    width: 64px;
    height: 40px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    background-color: #008781;
    border: none;
    border-radius: 4px;
  }
  #popup #transform {
    margin-left: 10px;
    background-color: #008781;
  }
  #popup #transform:hover {
    background-color: #008781;
  }
  #popup  #transform:active {
    transform: translate(0px, 1px);
    box-shadow: 0px 1px 0px 0px;
  }
  #popup header {
    width: inherit;
    height: 40px;
    /* background: #ffd13fcf; */
  }
  #popup header #weather {
    float: right;
    height: 100%;
    line-height: 40px;
    margin-right: 10px;
  }
  #popup header #weather #weatherSiteSelet {
    border: none;
    appearance: none;
    background: transparent;
  }
  #popup header #weather #svg_w {
    height: 15px;
    vertical-align: text-bottom;
  }
  #popup header #weather #weatherText {
    font-size: 13px;
  }
  #popup header #weather #weatherTemp {
    font-size: 13px;
  }
  #popup #article #buttons {
    position: relative;
    margin-top: 12px;
  }
  #popup #article #buttons #transform {
    float: left;
    top: 1px;
    right: 5px;
    width: 90px;
    height: 40px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    background-color: #008781;
    border: none;
    border-radius: 4px;
  }
  #popup #article #buttons #transform {
    margin-left: 10px;
    background-color: #008781;
  }
  #popup #article #buttons #transform:hover {
    background-color: #008781;
  }
  #popup #article #buttons #transform:active {
    transform: translate(0px, 1px);
    box-shadow: 0px 1px 0px 0px;
  }
